<!DOCTYPE html>
<html ng-app="verifier" ng-csp>
<head>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.custom.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script src="../../js/angular.min.js"></script>
	<!--<script src="../../js/jquery.min.js"></script>-->
	<script src="../../js/main.js"></script>
</head>
<body >
	<div class="container main" ng-controller="verifierController">
		<h2 class="text-center">Verify Your Quote</h2>
		<form name="quoteForm" novalidate ng-submit="checkQuote(quoteObj)">
			<div class="form-group">
				<label>Quote:</label>
				<input class="form-control" type="text" ng-model="quoteObj.quote" required>
			</div>
			<div class="form-group">
				<label>Author:</label>
				<input class="form-control" type="text" ng-model="quoteObj.author" required>
			</div>
			
			<button type="submit" class="btn btn-primary">Verify It!</button>
		</form>
		<div ng-show="resultsBack" ng-class="{'bg-success': success, 'bg-info': info, 'bg-warning': warning, 'bg-danger': danger }">
			<div class="container text-center">
				<h2>{{authenticity}}</h2>
				<p>{{message}}</p>
				<a ng-href="{{wikiUrl}}" target="_blank">{{wikiUrl}}</a>
			</div>
		</div>
	</div>



	
</body>
</html>

